<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <div>
        <a href="/">Title</a>
    </div>
    <div>
        
    </div>
    <div>
        <a href="#">Login</a>
    </div>
    <div>
        <a href="#">Make Plans</a>
    </div>
    <div>
        <form>
            <p>
                <strong>Chat gpt</strong>
                <input type="text" value="chat" aria-label="chat">
                <input type="submit" value="send">
            </p>
        </form>
    </div>
</body>
</html>