<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <h1><a href="/">Travel Planner</a></h1>
    <div>
        <ul>
            <li><a href="#">서울</a></li>
            <li><a href="#">부산</a></li>
            <li><a href="#">제주</a></li>
          </ul>
    </div>
    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <a href="#">Make Plans</a>
    </div>
    <div>
        <form>
            <p>
                <strong>Chat gpt</strong>
                <input type="text" value="chat" aria-label="chat">
                <input type="submit" value="send">
            </p>
        </form>
    </div>
</body>
</html>