<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>
        <form>
            <p>
                <strong>ID</strong>
                <input type="text" placeholder="ID" aria-label="id">
            </p>
            <p>
                <strong>Password</strong>
                <input type="password" placeholder="Password" aria-label="password">
            </p>
            <p>
                <strong>Username</strong>
                <input type="text" placeholder="Username" aria-label="username">
            </p>
            <p>
                <strong>Email</strong>
                <input type="text" placeholder="Email" aria-label="email">
            </p>
            <input type="submit" />
        </form>
    </div>
</body>
</html>