<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    <div>
        <form action='/register' method='post'>
            <p>
                <strong>ID</strong>
                <input type="text" name="id" placeholder="ID">
            </p>
            <p>
                <strong>Password</strong>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <strong>Username</strong>
                <input type="text" name="username" placeholder="Username">
            </p>
            <p>
                <strong>Email</strong>
                <input type="text" name="email" placeholder="Email">
            </p>
            <input type="submit" />
        </form>
    </div>
</body>

</html>